   .grid-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
    margin-right: 10px;
  }
  .grid-item, .grid-date {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    text-align: center;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
  }



  .grid-date {
    background-color: rgba(255, 255, 255, 0.8);
  }



  input {
    width:80%;
    border-radius: 5px;
    height:27px;
  }

  button {
    height:50px;
  }



  div.content {
    overflow-y:hidden;
    margin-left: 200px;
    padding: 1px 16px;
  }


  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }