   .grid-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
    margin-right: 10px;
  }
  
  .grid-item, .grid-date {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2.5px 2.5px 2.5px 2.5px;
    font-size: 9px;

    text-align: center;
    min-height: 38px;

    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
  }

  .grid-date {
    background-color: rgba(255, 255, 255, 0.8);
    padding: -10px;
    margin: 0px;
  }


  input {
    width:fit-content;
    border-radius: 5px;
    height:27px;
  }

  button {
    height:50px;
  }

  div.content {
    overflow-y:hidden;
    margin-left: 190px;
    padding: 1px 16px;
  }


  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position:fixed;
    height: 100%;
    text-align: center;
  
  }

  .sidebarItem {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    padding:10px;
    border-radius: 5px;
  }